/* Styles reset */
* {
	box-sizing: border-box;
}

body {
	font: 14px Ariel, Helvetica, sans-serif;
	margin: 0;
}

h3,
h4 {
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

input,
select {
	border: 0;
	margin: 0;
}

.subscribe {
	margin: 0;
}

.section {
	position: relative;
	margin-bottom: 7px;
}

.section::after {
	background: url(images/separate-line.png) repeat-x;
	content: "";
	position: absolute;
	width: 100%;
	height: 7px;
	top: 100%;
}

.wrapper {
	overflow: hidden;
	margin: 0 auto;
	width: 960px;
}

.home {
	background: url(images/home-bg.jpg) no-repeat;
	background-size: cover;
	padding: 85px 0;
	min-height: 852px;
}

.header {
	margin-bottom: 218px;
}

.logo {
	display: inline-block;
    font-size: 0;
	margin-top: 4px;
}
	
.navigation {
	float: right;
}

.navigation li {
	float: left;
	margin-left: 25px;
}

.nav-link {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	border-top: 4px solid transparent;
	padding: 10px 0;
}

.nav-link:hover {
	color: #d6d6d6;
}

.nav-link.active {
	border-top-color: #4acaff;
}

.job-search-form-header {
	font-size: 55px;
	color: #FFFFFF;
	font-style: italic;
	font-weight: normal;
	margin-bottom: 40px;
}

.job-search-form-col-1 {
	width: 76%;
	float: left;
}

.job-description-input {
	width: 100%;
	height: 54px;
	border-bottom: 4px solid #e2e2e2;
	font-size: 18px;
	padding: 0 20px;
	line-height: 54px;
	margin-bottom: 30px;
}

.job-description-input::-webkit-input-placeholder {
	color: #c7c7c7;
	font-style: italic;
}

.job-search-form-checkbox {
	margin-right: 15px;
}

.job-search-form-label {
	color: #f6f6f6;
	font-style: italic;
	margin-right: 37px;
}

.user-location {
	float: right;
	height: 37px;
	width: 247px;
	padding: 0 14px;
}

.job-search-form-col-2 {
	width: 15%;
	float: right;
}

.job-search-form-submit-button {
	background: #4acaff url(images/icon-search.png) 28px center no-repeat;
	padding: 0 10px 0 50px;
	color: #ffffff;
	font-size: 20px;
	height: 54px;
	width: 100%;
	border-bottom: 4px solid #3baedd;
	font-style: italic;
	text-align: left;
	cursor: pointer;
}

.about-us {
	background-color: #f5f5f5;
	padding: 107px 0;
	min-height: 590px;
}

.about-us .wrapper {
	width: 710px;
}

.about-us h4 {
	font-size: 30px;
	color: #585858;
	text-align: center;
	margin-bottom: 19px;
	font-style: italic;
}

.about-us h3 {
	font-size: 45px;
	color: #585858;
	text-align: center;
	margin-bottom: 53px;
}
.about-us h3::after {
	background: #4acaff;
	content: "";
	display: block;
	width: 138px;
	height: 5px;
	margin: 43px auto 0;
}

.about-us p {
	font-size: 18px;
	color: #585858;
	text-align: center;
	margin-bottom: 80px;
}

.about-us-bottom-block {
	text-align: center;
	height: 65px;
}

.about-us a {
	font-size: 15px;
	color: #4acaff;
	border: 2px solid #4acaff;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 21px 38px;
}
.subscribe {
	background-color: #131c25;
	padding: 165px 0;
	min-height: 445px;
}

.subscribe-form {
	width: 365px;
	margin: 0 auto;
}

.subscribe-form-header {
	text-align: center;
	font-size: 18px;
	color: #7b8085;
	margin-bottom: 30px;
}

.subscribe-form-input-wrapper {
	position: relative;
}

.subscribe-form-user-email {
	background-color: #131c25;
	width: 100%;
	height: 54px;
	font-size: 15px;
	color: #ffffff;
	border: 2px solid #4acaff;
	border-radius: 10px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 51px;
	outline: none;
}

.subscribe-form-user-email::-webkit-input-placeholder {
	color: #7b8085;
	font-style: italic;
}

.subscribe-form-submit-button {
	background: url(images/icon-mail-white.png) center center no-repeat;
	padding: 0;
	cursor: pointer; 
	position: absolute;
	right: 0;
	top: 0;
	width: 62px;
	height: 51px;
	font-size: 0;
	outline: none;
}

.footer {
	background-color: #f5f5f5;
	padding: 70px 0;
}

.company-email-wrapper {
	margin-bottom: 25px;
}

.company-email-wrapper a {
	background: url(images/icon-mail-blue.png) left center no-repeat;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
	color: #939393;
	padding-left: 35px;
	display: inline-block;
}

.copyright-text {
	font-size: 14px;
	color: #939393;
	padding-left: 0;
	float: left;
}

.copyright-text a {
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #939393;
}

.social-links {
	float: right;
}

.social-links li {
	float: left;
}

.social-links a {
	display: inline-block;
}

.twitter {
	background-image: url(images/twitter-link.png);
	width: 96px;
	height: 20px;
}

.facebook {
	background-image: url(images/facbook-link.png);
	width: 96px;
	height: 20px;
}